<div class="center">
  <h5 class="flow-text">Purchase History</h5>
</div>

<table class="responsive-table bordered hoverable">
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Seller</th>
      <th>Date Purchased</th>
    </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.product.name %></td>
      <td><%= number_to_currency(order.product.price) %></td>
      <td><%= order.seller.name %></td>
      <td><%= order.created_at.strftime("%B %-d, %Y") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
