@import "materialize";

nav {
  color: #fff;
  @extend .z-depth-1;
  background-color: #405765;
  width: 100%;
  height: $navbar-height-mobile;
  line-height: $navbar-height-mobile;

  a { color: #fff; }
}

 html {
    font-family: 'Montserrat', sans-serif;
}
