@import "materialize";

$font-stack: 'Raleway', sans-serif;
$darkPrimaryColor: #000000;
$primaryColor: #D3505A;
$lightPrimaryColor: #FFFFFF;
$accentColor: #4A4A4A;
$primaryTextColor: #212121;
$secondaryTextColor: #808080;
$dropdown-color: #EF5A4C;

html {
    font-family: $font-stack;
}

h1 h2 h3 h4 h5 {
  color: $accentColor;
}

.dropdown-content li {
  & > a, & > span {
      font-size: 1.2rem;
      color: $dropdown-color;
      display: block;
      padding: 1rem 1rem;
    }
}

.hero-img img{
  max-width: 100% !important;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-head {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    :hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

.show {
  h1 {
    padding-top: 0.7rem;
    font-weight: 700;
    text-transform: uppercase; }

  h5 {
    margin-bottom: 2rem;
  }
  .showimg {
    padding-top: 3rem;
    float: left;
  }
}

.collapsible {
  .btn {
    margin-left: 1rem;
  }
  img {
    margin-left: 1rem;
  }
}

// a.btn {
//   vertical-align: middle;
//   &:hover {
//     color: $darkPrimaryColor;
//   }
// }

.btn {
  padding-top: 0.1rem;
  color: $darkPrimaryColor;
  background-color: transparent;
  margin-bottom: 1rem;
  border-radius: 0;
  border: 1px solid black;
  &:hover {
    background-color: $lightPrimaryColor;
    color: $darkPrimaryColor;
  }
}

.tags a {
  display: inline-block;
  padding: 0;
  margin-bottom: .2rem;
  :hover {
    color: $darkPrimaryColor;
  }
}

.navbar-fixed nav {
  background-color: $lightPrimaryColor;
}

.nav-wrapper a {
  color: $darkPrimaryColor;
  &:hover {
    color: $secondaryTextColor;
  }
}

.card-panel {
  text-align: center;
  color: $lightPrimaryColor;
  background-color: $darkPrimaryColor;
}

.card-content {
  h5 {
    font-size: 18px;
  }
}

@media #{$medium-and-up} {
  .container {
    width: 95%;
  }
}
