@import "materialize";

html {
    font-family: 'Montserrat', sans-serif;
}

$localLightPrimaryColor: #B3E5FC;
$localPrimaryColor: #03A9F4;
$localDarkPrimaryColor: #405765;
$localAccentColor: #FF5722;

$darkPrimaryColor: #0288D1;
$primaryColor: #03A9F4;
$lightPrimaryColor: #B3E5FC;
$textPrimaryColor: #FFFFFF;
$accentColor: #FF5722;
$primaryTextColor: #212121;
$secondaryTextColor: #727272;
$dividerColor: #B6B6B6;

.show {
  h1 {
    padding-top: 0.7rem;
    font-weight: 700;
    text-transform: uppercase; }

  h5 {
    margin-bottom: 2rem;
  }
  .showimg {
    padding-top: 3rem;
    float: left;
  }
}

.collapsible {
  .btn {
    margin-left: 1rem;
  }
  img {
    margin-left: 1rem;
  }
}

a {
  color: $localAccentColor;
  &:hover {
    color: $localPrimaryColor;
  }
}

a.btn {
  vertical-align: middle;
  &:hover {
    color: grey;
  }
}

.btn {
  padding-top: 0.1rem;
  background-color: $localPrimaryColor;
  margin-bottom: 1rem;
  &:hover {
    background-color: $localPrimaryColor;
  }
}

.btn span {
  position: relative;
  top: -0.1rem;
}

.tags a {
  display: inline-block;
  padding: 0;
  margin-bottom: .2rem;
  :hover {
    color: black;
  }
}

// .logo {
//   margin-top: 6px;
//   height: 52px;
//   width: 52px;
//   path {
//     fill: white;
//   }
// }

// .navbar-fixed nav {
//  overflow: visible;
// }

nav {
  background-color: $localDarkPrimaryColor;
}

.nav-wrapper a {
  &:hover {
    color: grey;
  }
}

.tags a {
  display: inline-block;
  padding: 0;
  margin-bottom: .2rem;
  :hover {
    color: black;
  }
}

span {
  &.tags {
    float: right;
  }
  .badge {
    float: none;
    position: relative;
    right: 0;
    padding: 4px 6px 4px 6px;
  }
}

span.badge.new::after {
  content: "";
}

.header {
  background-color: $localPrimaryColor;
  text-align: center;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 4rem;
    padding-top: 3rem;
    color: #FFFFFF;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
    color: #FFFFFF;
  }
}

footer.page-footer {
  background-color: $localDarkPrimaryColor;
}

.centered {
  display: block;
  margin: 0 auto;
}

.card-panel {
  background-color: #e53935;
  color: #ffffff;
  text-align: center;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}
