<div class="hide-on-med-and-down">
  <div class="row">
    <div class="col s12 l4">
      <div class="image-head">
        <%= link_to image_tag("arohmade.png"), category_path(Category.find(3)) %>
      </div>
    </div>
    <div class="col s12 l4">
       <div class="image-head">
        <%= link_to image_tag("arohmade.png"), category_path(Category.find(1)) %>
      </div>
    </div>
    <div class="col s12 l4">
      <div class="image-head">
        <%= link_to image_tag("arohmade.png"), category_path(Category.find(2)) %>
      </div>
    </div>
  </div>
</div>
